@import "./bootstrap.less";
@import "./navigation.less";

@media (max-width: @screen-xs) {
  body {font-size: 8px;}
  h5 {font-size:8px}
  .lastSeen, .status, .macColumn{
    display:none;
  }

  .statusOnline:before, .statusOffline:before {
    .glyphicon;
    padding-right: 0.5em;
  }
  .statusOnline, .statusOffline {
    .glyphicon-record;
  }
  .statusOnline:before {
    color: @brand-success;
  }
  .statusOffline:before {
    color: @brand-danger;
  }
}

@media (max-width: @screen-sm) {
  body {
    font-size: 10px;
  }
  h5 {
    font-size: 10px
  }
}

@media (max-width: @screen-md) {
  body {
    font-size: 12px;
  }
  h5 {
    font-size: 12px
  }
}

.panel {
  .panel;
  .panel-default;

  .panel-heading {
    .panel-heading;
    height: 3.25em;
    .title {
      .pull-left;
    }
    .controls {
      .pull-right;
    }
  }
}

.panel {
  overflow:hidden;
  left:0;
  right:0;
}

.gravatar {
  .media-object;
  position:relative;
  padding-bottom: @padding-base-vertical / 4;
  padding-top: @padding-base-vertical / 4;
  height: 64px;
  transition: all .2s ease-in-out;
  z-index:20;
}

.gravatar:hover {
  transform: scale(1.4);
}

.gravatar:active {
  z-index:100;
  transform: translate(64px,0) scale(4);
}

table.persons {
  tr.person {
    td {
      vertical-align: middle;
      font-size: 14px;
    }
  }
}

.navbar {
  .navbar;
  border-radius: 0 !important;
}

table {
  .hostColumn {
    max-width: 9em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

label.offline {
  .label;
  .label-danger;
}
label.online {
 .label;
 .label-success;
}

.notificationSettings {
  .glyphicon-comment;
  .label;
  .label-default;
  .pull-right;
  font-size: 100%;
}

.notificationSettings:before {
  .glyphicon;
  padding-right: 3px;
}

